@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;
@use 'sass:map';

body{
    font-family: v.$font;
    background-color: map-get($map: v.$colors , $key: darkwhite );
    padding-left: f.pxtorem(15);
}

hr {
    background-color: map-get($map: v.$colors , $key: blue );
    height: 5px;
}
