@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use 'sass:map';

body{
    font-family: v.$font;
    background-color: map-get($map: v.$colors , $key: darkwhite );
    margin-right: f.pxtorem(150);
}

h1 {
    font-weight: v.$font-weight-bold;
    font-size: 50px;
    color: map-get($map: v.$colors , $key: blue );
}

h2 {
    font-weight: v.$font-weight_bold;
    font-size: 25px;
    color: map-get($map: v.$colors , $key: blue );
}

h3 {
    font-size: 17px;
    font-weight: v.$font-weight_light;
    color: map-get($map: v.$colors , $key: blue );
}

h4{
    font-weight: v.$font-weight_light;
    font-size: 15px;
    color: map-get($map: v.$colors , $key: blue );
}
h5 {
    font-weight: v.$font-weight_light;
    font-size: 13px;
    color: map-get($map: v.$colors , $key: blue );
}

button {
    font-weight: v.$font-weight_bold;
}

hr {
    width: 108%;
}
