@use "../abstracts/functions" as f;
@use "../abstracts/variables" as v;

%flex_space-around{
    display: flex;
    justify-content: space-around;
    
}

%button-margin_padding {
    padding-top: f.pxtorem(10);
    padding-bottom: f.pxtorem(10);
    margin-bottom: f.pxtorem(20);
}

%hover-button {
    background-color: map-get($map: v.$colors , $key: black );
    color: map-get($map: v.$colors , $key: white );
    transition: 0.2s ease-in-out;
}